.mainDiv {
    div>.imgBlock{
      width: 70%;
    }
    h1 {
      padding: 1.5em 1.5em;
      padding-bottom: 0.5em;
      text-align: left;
      font-size: 1.5em;
    }
    p {
      color: var(--baseColor);
      text-align: left;
      background-color: var(--textColor);
      margin: 0;
      padding: 1em 2em;
      line-height: normal;
    }
    img {
      display: block;
      margin-top: 4em;
      padding: 4em 0;
      padding-bottom: 0;
      text-align: center;
      margin: 0 auto;
      width: 20%;
    }

    section {
      margin: 2.2em;
      button {
        padding: 0.3em 1em;
      }
      padding-bottom: 2.2em;

      // margin: 1em;
      text-align: end;
    }
    button {
    margin: 2px;
  }
  .popupTheme {
    background-color: white;
    font-family: Ubuntu;
    // margin-top: 4em;
    margin-bottom: 1em;
  }
  }