@media only screen and (orientation: landscape) {
  .errorMessege {
    display: none;
  }
  body{
    background-color: var(--backgroundColor);
  }
  .homePageView {
    line-height: 4.5vh;
    width: 85%;
    margin: 0 auto;
    background-color: var(--baseColor);
    border-radius: 1em;
    box-shadow: 1.5em 1.2em #17171f;
    margin-top: 5vh;
    height: 80vh;

    .pageHeader {
      // min-height: 100px;
      background: var(--backgroundColor);
      // height: 20vh;
      padding: 0vh;
      align-self: center;
      border-start-start-radius: 1em;
      border-start-end-radius: 1em;
      text-align: center;
      min-height: 15vh;
      h1 {
        display: flex;
        justify-content: center;
        color: var(--textOnBaseColor);
        align-items: center;
        font-size: 6vh;
        min-height: 15vh;
        letter-spacing: 0.02em;
      }
      // p {
      //   padding: 0;
      //   color: var(--textOnBaseColor);
      //   font-size: 3vh;
      //   margin-top: 2vh;
      // }
      border: 4px solid white;
    }

    .content {
      width: 85%;
      margin: 0 auto;
      padding-top: 2vh;
      padding-bottom: 1vh;
      justify-content: center;
      color: var(--textColor);
      h2 {
        font-size: 4vh;
        padding-bottom: 1vh;
      }
      p {
        text-align: center;
        font-size: 3vh;

        // justify-content: center;
      }
    }
    nav {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      text-align: center;
      padding-top: 2vh;
      padding-bottom: 2vh;
    }
    main {
      width: 85%;
      margin: 0 auto;
      margin-top: 4em;
      //   border: 4px solid white;
      border-radius: 1.5em;
    } 
    
  }

 
}

@media only screen and (min-height: 1000px) {
  h1 {
    font-size: 0.5em;
  }
}

@media only screen and (orientation: portrait) {
  .homePageView > .content,
  .homePageView > .pageHeader,
  .homePageView > nav,
  img {
    display: none;
  }
  .errorMessege {
    color: white;
    display: block;
    margin: 5em 0;
    // margin: 0 auto;
    text-align: center;
  }
}
