
html{

}
.rulesPageView{
  // padding-bottom: 3em;
  .rules{
    padding-top: 5px;
    // font-size: 4em;
    border-bottom: 3px solid var(--baseColor);
    h2{
      margin: .5em;
      font-size: 3em;
    }
    
  }
  ol{
    width: 90%;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
    li{
      font-family: UbuntuReg;
      font-size: 1em;
    }
  }
  .buttons{
    margin-bottom: 2em;
    button{
      border: none;
      display: block;
    }
  }
}
