
html{

}
.rulesPageView{
  height: 120vh;
  padding-bottom: 3em;
  .rules{
    // font-size: 4em;
    border-bottom: 3px solid var(--backgroundColor);
    h2{
      padding: 2vh;
      margin: 0 auto;
      border: 2px solid var(--baseColor);
      border-start-start-radius: .5em;
      border-start-end-radius: .5em;
      font-size: 5vh;
      background-color: var(--backgroundColor);
    }
    
  }
  ol{
    line-height: 5vh;
    width: 90%;
    margin: 0 auto;
    margin-top: 3vh;
    margin-bottom: 5vh;
    li{
      font-family: UbuntuReg;
      font-size: 3vh;
    }
  }
  .buttons{
    margin-bottom: 2em;
    button{
      border: none;
      display: block;
    }
  }
}

@media only screen and (orientation: portrait) {
  main{
    display: none;
  }
  .errorMessege {
    color: white;
    display: block;
    margin: 5em 0;
    // margin: 0 auto;
    text-align: center;
  }
}
