.box {
    background: white;
    color: var(--textColor);
    border-radius: 1em;
    width: 97%;
    // height: 95vh;
    margin: 0 auto;
    .mainDiv {
        div>.imgBlock{
          width: 80%;
        }
        h1 {
          font-size: 4.5vh;
        }
        h1 {
          padding: 5vh 5vh;
          text-align: left;
          border-bottom: 4px solid var(--baseColor);
        }
        p {
          font-size: 3vh;
          text-align: left;
          margin: 0;
          margin-top: 3vh;
          padding: 1vh 5vh;
          line-height: 6vh;
        }
        img {
          display: block;
          margin-top: 4em;
          padding: 4vh 0;
          padding-bottom: 0;
          text-align: center;
          margin: 0 auto;
          width: 35%;
        }
    
        section {
          margin: 0 6vh;
          button {
            padding: 0.3vh 1vh;
          }
          padding-bottom: 2.2em;
    
          // margin: 1em;
          text-align: end;
        }
        button {
        margin: 2px;
      }
      .popupTheme {
        background-color: white;
        font-family: Ubuntu;
        // margin-top: 4em;
        margin-bottom: 1em;
      }
      }
    .header{
        
    }
    // h1{
    //     font-size: 1.5em;
    // }
}
