.item{
    display: inline-flex;
}
.itemgroup{
    display: grid;
    gap: 4px ;
    margin: 1em 2em;
    padding-bottom: 1em;
}
.item>p{
    margin-right: 2em;
}
.item{
    width: 100%;
   align-items: center;
}
.item >*{
    display: inline-flex;
    align-items: center;
    height: 4em;
}
.arrow, .arrow2{
    margin: 0;
    padding: 0;
    background-color: var(--textColor);
    border: none;
    color: white;
}

span>img{
    display: block;
    width: 1.5em;
    margin: 0 .5em;
    /* vertical-align: baseline; */
}
#span{
    font-size: 5em;
    /* width: 4em; */
}
button{
    height: 100%;
    /* width: 4em; */
}
/* i{
    font-size: 2em;
} */
.definition{
    max-width: 3em;
    width: inherit;

}
.buttonGroup >
section{
    padding-left: 1em;
    font-family: UbuntuReg;
    width: 100%;
    height: 2em;
    background-color: var(--quizButtonBackground);
}
.pickUp{
    line-height: normal;
    font-size: 12pt;
    margin: 0 .5rem;
    width: 100%;
}
