.answer {
    padding-bottom: 4em;
    .checkbox {
      display: none;
    }
    form{
      height: auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-gap: 10%;
    }
    .questionText{
      padding: 1em 2em;
      border-bottom: 4px solid var(--baseColor);
    }
    .questionAnswer{
      height: 100%;
      display: grid;
      gap:1em;
      grid-template-columns: 1fr 1fr;
      padding: 2em 2.2em ;
  
    }
    .ans{
      
      background-color: var(--quizButtonBackground);
      height: 100%;
      display: grid;
      grid-template-columns: 2fr 5fr;
      border-radius: var(--buttonBorderRadius);
      align-items: center;
    }
    .ans>p{
      font-size: .8em;
      line-height: normal;
      margin: 0 auto;
      text-align: center;
      font-family: UbuntuReg;
    }
    .ans > span{
      border-radius: var(--buttonBorderRadius);
      text-align: center;
      background-color: var(--spanBackground);
      padding: .5em;
    }
    input {
      transform: translatey(20%);
      margin-right: 1em;
  
    }
    input[type=radio]{
      -webkit-appearance: none;
      background: var(--quizButtonBackground);
      width: 2em;
      height: 2em;
      
    }
    input:checked{
      background: var(--textColor);
      transition: .5s;
      // background-size: 9px 9px;
    
  }
    // input:checked  {
    //   background: grey;
    //   transition: 0.5s;
    // }
    img{
      border-radius: var(--buttonBorderRadius);
      height: 15em;
    }
    .section{
      // padding: 2em;
      position: absolute;
      right: 3em;
      margin-bottom: 2em;
    }
    .leftSide{
      color: var(--baseColor);
      border-left: .8em solid var(--quizTaskColor);
      border-right: 1em solid var(--quizTaskColor);
      display: grid;
      align-content: center;
      
      height: 40vh;
      border-radius: var(--buttonBorderRadius);
      li{
        list-style-type: '-';
      }
      li::marker{
        padding-right: 1em;
      }
    }
    
  }
  #buttonOnPopup{
      margin: 2px ;
  }
  
  