.answer {
  // width: 95%;
  margin: 0 auto;
  border-radius: 1em;
  background-color: white;
  color: var(--baseColor);
  padding-bottom: 4em;
  .checkbox {
    display: none;
  }
  form{
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap:7%;
  }
  .questionText{
    // height: 20vh;
    font-size: 3vh;
    padding: 3vh 5vh;
    border-bottom: 4px solid var(--baseColor);
    line-height: 7vh;
    p{
      margin: 0;
    }
  }
  .questionAnswer{
    // height: 40vh;
    display: grid;
    gap:2vh;
    grid-template-columns: 1fr 1fr;
    padding: 5vh 4vh ;

  }
  .ans,
  .ansCor {
    
    background-color: var(--quizButtonBackground);
    height: 8vh;
    display: grid;
    grid-template-columns: 2fr 5fr;
    border-radius: var(--buttonBorderRadius);
    align-items: center;
  }
  .ans>p, .ansCor>p{
    font-size: 2vh;
    line-height: normal;
    margin: 0 auto;
    text-align: center;
    font-family: UbuntuReg;
  }
  .ans > span,
  .ansCor > span {
    border-radius: var(--buttonBorderRadius);
    text-align: center;
    background-color: var(--spanBackground);
    // padding: .7em;
    // height: max-content;
  }
  span{
    color: white;
    height:8vh;
    font-size: 3vh;
    display: flex;
    // justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
  // input {
  //   transform: translatey(1.5vh);
  //   margin-right: 1em;

  // }
  input[type=radio]{
    appearance: none;
    background: var(--quizButtonBackground);
    width: 3vh;
    height: 3vh;
    
  }
  input:checked{
    background: #394e08;
    transition: .5s;
    // background-size: 9px 9px;
  
}
  // input:checked  {
  //   background: grey;
  //   transition: 0.5s;
  // }
  img{
    border-radius: var(--buttonBorderRadius);
    height: 40vh;
  }
  section{
    // padding: 2em;
    position: absolute;
    right: 3em;
    margin-bottom: 2em;
  }
  
}
#buttonOnPopup{
    margin: 2px ;
}
.answerPopup{
  // width: 80vh;
  margin: 5vh 0;
  img{
    width: 10vh;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (orientation: portrait) {
  main{
    display: none;
  }
  .errorMessege {
    color: white;
    display: block;
    margin: 5em 0;
    // margin: 0 auto;
    text-align: center;
  }
}
