.debugMap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.mapContainer {
    width: 100vw;
    height: 100vh;
}

.close {
    position: absolute;
    top: 0;
    left: 0;
}
