.findDiffComponent {
    top: 0.5em;
    left: 0;
    bottom: 1em;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    // align-items: center;

    canvas {
        /* outline: 1px red solid; */
        background-color: white;
        object-fit: contain;
        justify-content: space-between;
        @media (orientation: landscape) {
            max-width: 100%;
            height: auto;
            max-height: 100%;
        }

        @media (orientation: portrait) {
            max-width: 100%;
            height: auto;
            max-height: 100%;
        }
        

    }
    
}
