.popup {
    background: rgba(0,0,0,.8);
    margin: 0 auto;
    // font-size: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    // button {
    //     margin-top: 1em;
    // }
    p{
        font-size: 3vh;
        margin: 0;
        color: var(--baseColor);
    }
}

.inner {
    
    border-radius: 1em;
    max-width: 1200px;
    padding: 1rem 4rem;
    background: white;
    border: 1px solid var(--backgroundColor);

    display: flex;
    flex-direction: column;
    align-items: center;
}


