
body{
  // background-color: white;
}
.box {
  height: fit-content;
  background-color: var(--textColor);
  color: var(--textColor);
  border-radius: 1em;
  width: 97%;
  margin: 0 auto;
  .header {
  }
  .mainDiv {
    div>.imgBlock{
      width: 70%;
    }
    h1 {
      color: var(--baseColor);
      padding: 1.5em 1.5em;
      padding-bottom: 0.5em;
      text-align: left;
      font-size: 1.5em;
    }
    p {
      text-align: left;
      background-color: var(--baseColor);
      margin: 0;
      padding: 1em 2em;
      line-height: normal;
    }
    img {
      display: block;
      margin-top: 4em;
      padding: 4em 0;
      padding-bottom: 0;
      text-align: center;
      margin: 0 auto;
      width: 20%;
    }

    section {
      margin: 2.2em;
      button {
        padding: 0.3em 1em;
      }
      padding-bottom: 2.2em;

      // margin: 1em;
      text-align: end;
    }
    button {
    margin: 2px;
  }
  .popupTheme {
    background-color: white;
    font-family: Ubuntu;
    // margin-top: 4em;
    margin-bottom: 1em;
  }
  }
  button {
    margin: 2px;
  }
  
  .popupNav {
    margin-bottom: 2em;
  }

  
}
.section {
    margin: 1em;
    button {
      padding: 0.3em 1em;
    }
    padding-bottom: 2.2em;

    // margin: 1em;
    text-align: end;
  }
  button {
  margin: 2px;
}
.section2{
  text-align: end;
  margin-right: 2em;
  padding-bottom: 2em;
}
.contentOrder{
  button{
    height: 100%;
    margin: 2px;
    // gap: 4px;
  }
}

@media (position: portrait) {
  .box{
    display: none;
  }
  main{
    background-color: aqua;
  }
}