.item{
    display: block;
    text-align: center;
}
.itemgroup{
    /* padding: 2em 4em; */
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin: 1em 2em;
    padding: 1em 2em;
    /* margin: 0 auto; */
    background-color: var(--textColor);
    border-radius: var(--buttonBorderRadius);
}
.img{
    width: 50%;
}
.imgWithDesc{
    margin-top: 1em;
    border: 2px solid var(--baseColor);
    border-radius: var(--buttonBorderRadius);
    padding:  1em 0;
    padding-bottom: 0;
    margin-bottom: .5em;
}
.indexNumber{
    color: var(--textColor);
    background-color: var(--baseColor);
    width: 2em;
    margin: 0 auto;
}
.buttonGroup >
span:only-child{
    font-size: 2.5em;
}
.arrow{
    color: white;
    background-color: var(--baseColor);
    border: none;
    height: 4em;
}
.section2{
    text-align: end;
    margin-right: 2em;
    padding-bottom: 1em;
}
span>img{
    display: block;
    width: .7em;
    margin: 0 auto;
    /* vertical-align: baseline; */
}